* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%
  }


  body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background: linear-gradient(to bottom, #0a0014, #1b001b);
    color: white;
    text-align: center;
    background-color: #15001b;
  }

  #coise {
    padding: 200px 0px;
  }

  button {

    background-color: #9900ff;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s ease;

  }

  button:hover {
    background-color: #bb55ff;
  }
  
  .linha-roxa {
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, #9900ff, #c000ff);
  }
  
  footer {
    background-color: #0d0011;
    padding: 30px;
    font-size: 1rem;
    color: #bbb;
    background-size: cover;
    width: 100%;
    position: fixed;
}

  footer h5 {
      font-size: 1.1rem;
      font-weight: bold;
      color: #fff;
  }

  footer p {
      font-size: 0.9rem;
      color: #ddd;
  }

  footer .footer-link {
      color: #ccc;
      text-decoration: none;
      transition: color 0.3s ease;
  }

  footer .footer-link:hover {
      color: #ff66ff;
  }

  footer .bi {
      font-size: 1.2rem;
      color: #ccc;
  }

  footer .bi:hover {
      color: #ff66ff;
  }

  footer button {
      background-color: #ff00ff;
      color: white;
      border: none;
      padding: 12px 25px;
      border-radius: 25px;
      margin-top: 20px;
      cursor: pointer;
      font-size: 1rem;
  }

  footer button:hover {
      background-color: #ff66ff;
  }

  footer .row {
      margin-bottom: 20px;
  }

  footer hr {
      border-color: #6c757d;
      opacity: 0.5;
      margin-top: 40px;
  }

  #tosbutton {
    display: block;
    margin: 30px auto;
    background-color: #642591;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }

  #tosbutton:hover {
    background-color: #ff00ff;
  }